<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
    <h2>welcome to the landing page </h2><br>
    <input type="text" placeholder="Enter username"><br>
    <input type="email" placeholder="Enter email"><br>
    <input type="password" placeholder="Enter password"><br>
    <button type="submit">submit</button>
</form>
<button> <a  style="text-decoration: none;" href="/auth/google">Login with GOOGLE 🚼</a></button>
</body>

</html>